*.pyc
db.sqlite3
__pycache__
.pytest_cache
geckodriver.log
target/
SensitiveNotes.txt
*.exe
Python/Cython/build/*
Python/Cython/**/*.c
Python/Cython/*.pyd
Python/Cython/**/*.dll
*.o
*.json
scratch_space.py