{% load static %}
<script src="{% static 'channels/js/websocketbridge.js' %}"></script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/status.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/w3.css' %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static 'css/status.css' %}" type="text/css" media="screen" />

<title>Status</title>

<div id="sidebar" class="w3-sidebar w3-bar-block w3-blue-gray">
    <h3 class="w3-bar-item w3-border-bottom">
        <b>Status</b>
    </h3>
    <button class="w3-bar-item w3-button w3-border-bottom w3-hover-red" id="information_tab_button">Information</button>
    <button class="w3-bar-item w3-button w3-border-bottom w3-hover-red" id="commands_tab_button">Commands</button>
    <button class="w3-bar-item w3-button w3-border-bottom w3-hover-red" id="help_tab_button">Help</button>
</div>

<div class="tabcontent" id="information_tab">
    <div class="w3-container" id="chart_container">
        {% comment %}
        <canvas id="signal_real_chartjs_canvas"></canvas>
        <canvas id="signal_imag_chartjs_canvas"></canvas> {% endcomment %}
        <canvas id="psd_chartjs_canvas"></canvas>
    </div>
</div>

<div class="tabcontent" id="commands_tab">
    <div class="w3-container" id="status_div">
        <button class="w3-button w3-indigo" id="send_command_button">
            Send Command
        </button>
    </div>
</div>

<div id="help_tab" class="tabcontent">
    <div class="w3-container">
        <h2>Help</h2>
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
        quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
        deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere
        possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis
        aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum
        rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus
        asperiores repellat.
    </div>
</div>